// color palette
$forhousing-dark-blue-green: #193f46;
$forhousing-blue: #1fc0da;
$forhousing-orange: #f49800;
$forhousing-dark-blue: #005a84;
$forhousing-dark-orange: #f15a38;
$forhousing-green: #bcce35;
$forhousing-common-grey: #939598;